# fastapi== 0.104.1
# uvicorn
# pymysql==1.1.2
# pydantic==2.4.2
# sqlalchemy
# cloudinary==1.44.1
# PyMuPDF== 1.26.5
# python-multipart==0.0.20
# fastapi-mail==1.6.1
# slowapi==0.1.9
# redis==7.1.0
matplotlib==3.8.2
psutil==5.9.8
# Core Backend
fastapi
uvicorn==0.24.0
SQLAlchemy==2.0.43
python-dotenv==1.0.1
python-multipart==0.0.20
pydantic==2.12.5
pydantic-settings==2.12.0

# Auth
passlib==1.7.4
bcrypt==3.2.2
python-jose==3.5.0
PyJWT==2.10.1
# argon2-cffi==25.1.0
email-validator==2.3.0
slowapi==0.1.9
PyPDF2==3.0.1

# Databases
PyMySQL==1.1.2
mysql-connector-python==9.5.0
# pymongo==4.13.0
redis==7.1.0

# AI / ML
openai==2.7.1
huggingface-hub==0.36.0
--extra-index-url https://download.pytorch.org/whl/cpu
torch
transformers==4.57.1
sentence-transformers==5.1.2
# Google / Cloud
firebase-admin==7.1.0
google-genai==1.49.0
# google-cloud-storage==3.4.0
# google-cloud-firestore==2.21.0

# Files
cloudinary==1.44.1
# pillow==11.2.1
PyMuPDF==1.26.5

# Mail
fastapi-mail==1.6.1
# aiosmtplib==5.0.0

# Core data (needed)
numpy==1.26.4
pandas==2.3.1
